<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
</head>
<body>
    <% if (locals.user) {%>
        <h1>Make Post</h1>
        <% if (locals.user.member == false) { %>
            <form action="/secret-page" method="POST">
                <div>
                    <label for="secretCode">Secret Code:</label>
                    <input type="secretCode" id="secretCode" name="secretCode" required />
                </div>
                <button type="submit">Upgrade</button>
            </form>
        <% } else { %>
            Already a member!
            <a href="/">Return</a>
        <% } %>
    <% } else { %>
        <a href="/signup">Sign Up!</a>
        <a href="/signin">Sign In!</a>
    <% } %>
</body>
</html>